
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@Html.ActionLink("Однокритериальное решение", "Index", "OneCriterion")
@Html.ActionLink("Многокритериальное решение", "Index", "ManyCriterion")

